<div class="center-form">
    <img src="/assets/logo.png" alt="logo" class="logo">
    <h2>Enter Details to resister</h2>
    <form [formGroup]="registerForm" class="custom-form" (ngSubmit)="submitForm()">
        <div class="input-container">
            <i class="bi bi-person-vcard input-icon"></i>
            <input class="form-control" placeholder="Enter name" formControlName="name">
            <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="form-validity">
                name is required
            </div>
        </div>
        <div class="input-container">
            <i class="bi bi-envelope-fill input-icon"></i>
            <input class="form-control" placeholder="Enter email" formControlName="email">
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="form-validity">
                email is required
            </div>
        </div>
        <div class="input-container">
            <i class="bi bi-lock-fill input-icon"></i>
            <input class="form-control" placeholder="Enter password" formControlName="password">
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="form-validity">
                password is required
            </div>
        </div>
        <button class="btn w-100" [disabled]="registerForm.invalid" >
            register
        </button>
    </form>
</div>
