<div class="center-form">
    <img src="/assets/logo.png" alt="logo" class="logo">
    <h2>Enter Credintial Details</h2>
    <form [formGroup]="loginForm" class="custom-form" (ngSubmit)="submitForm()">
        
        <div class="input-container">
            <i class="bi bi-envelope-fill input-icon"></i>
            <input class="form-control" placeholder="Enter email" formControlName="email">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="form-validity">
                email is required
            </div>
        </div>
        <div class="input-container">
            <i class="bi bi-lock-fill input-icon"></i>
            <input class="form-control" placeholder="Enter password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="form-validity">
                password is required
            </div>
        </div>
        <button class="btn w-100" [disabled]="loginForm.invalid" >
            login
        </button>
    </form>
</div>
