<div class="container-fluid g-0">
<app-header (sideNavToggled)="sideNavStatus = $event"></app-header>

<main>
  <app-side-nav [sideNavStatus]="sideNavStatus" [routeData]="routeData" [ngClass]="{'app-side-nav-open':sideNavStatus}" ></app-side-nav>

  <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}">
    <!-- <p class="fs-1 fw-bold fst-italic">Main display area {{sideNavStatus}}</p> -->
     <router-outlet></router-outlet>
  </div>
  <app-snackbar></app-snackbar>
</main>

</div>