<div class="room-details-form-container">
    <form [formGroup]="updateRoomForm" class="room-details-form">
        <div class="form-title">Update Room Details</div>
        <div class="input-container">
            <input class="form-control" placeholder="Room name" formControlName="name">
        </div>
        <div class="input-container">
            <input class="form-control" placeholder="Room type" formControlName="type">
        </div>
        <div class="input-container">
            <input class="form-control" placeholder="Room price" formControlName="price">
        </div>
        <div class="form-button">
        <button class="btn btn-primary" type="submit" (click)="submitForm()">update</button>
        </div>
    </form> 
</div>